/* rose */
:root {
  --bkg: #fff8f0;
  --txt: #402e32;
  --accent: #ffba00;
  --accent2: #006b60;
  --accent3: #b5a999;
}

/* GENERAL */

body {
  background-color: var(--bkg);
  color: var(--txt);
  font-family: "Playpen Sans", cursive;
  font-size: 1.1em;
  margin: auto;
  max-width: 600px;
  padding: 1em;
}

::selection {
  background-color: var(--accent2);
  color: var(--bkg);
}

h1, h2 {
  text-wrap: balance;
}

h2 {
  font-weight: normal;
  text-align: right;
}

section {
  padding: 1em 0;
}

#round, #winner {
  text-align: center;
}

#winner {
  font-weight: bold;
}

/* BUTTONS */

#choices {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  margin: 2em 0;
}

button {
  background-color: var(--accent);
  color: var(--txt);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1em;
  min-width: 6em;
  padding: 0.5em;
}

button:hover {
  background-color: var(--accent2);
  color: var(--bkg);
}

button:disabled {
  background-color: var(--accent3);
  color: var(--bkg);
  cursor: not-allowed;
}

/* BORDERS */

section, button {
  border: 2px solid var(--txt);
  border-radius: 8px;
  box-shadow: 4px 4px var(--txt);
}