/* rose */
:root {
  --bkg: #fdfbfa;
  --txt: #4d2d4a;
  --accent: #964262;
  --accent2: #fa9fa3;
}

/* GENERAL */

body {
  background-color: var(--bkg);
  color: var(--txt);
  font-family: sans-serif;
  margin: auto;
  max-width: 600px;
  padding: 1em;
}

::selection {
  background-color: var(--accent2);
}

h1, h2 {
  text-wrap: balance;
}

section {
  border-top: 1px solid var(--accent);
  margin: 1em 0;
}

/* BUTTONS */

#choices {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  margin-top: 2em;
}

button {
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  color: var(--bkg);
  cursor: pointer;
  font-family: inherit;
  padding: 0.5em;
  width: 8em;
}

button:hover, button:disabled {
  background-color: var(--accent2);
  color: var(--txt);
}

button:disabled {
  cursor: not-allowed;
}

/* WINNER SECTION */

#winner {
  border: none;
  font-weight: bold;
  align-content: center;
  min-height: 2em; /* so it takes space when empty */
  text-align: center;
}