@import url(https://fonts.bunny.net/css?family=itim:400);

/* rose */
:root {
  --bkg: #fff8ea;
  --txt: #402e32;
  --accent: #ffba00;
  --accent2: #006b60;
  --accent3: #b5a999;
}

/* GENERAL */

body {
  background-color: var(--bkg);
  color: var(--txt);
  font-family: "Itim", sans-serif;
  font-size: 1.125rem;
  margin: auto;
  margin-bottom: 2em;
  max-width: 600px;
  padding: 16px;
}

::selection {
  background-color: var(--accent);
}

h1, h2 {
  font-weight: normal;
  margin-top: 0;
  text-wrap: balance;
}

h1 {
  color: var(--accent2);
  text-align: center;
}

section {
  padding: 16px 0;
}

#round, #endgame {
  text-align: center;
}

#endgame p {
  font-size: 1.25em;
}

footer {
  bottom: 0;
  padding: 16px 0;
  position: fixed;
}

/* BUTTONS */

#choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  margin: 32px 0 16px 0;
}

button {
  background-color: var(--accent);
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 8px;
  min-height: 48px;
  min-width: 120px;
  padding: 8px;
}

button:hover:not(:disabled) {
  background-color: var(--accent2);
  color: var(--bkg);
}

button:disabled {
  background-color: var(--accent3);
  cursor: not-allowed;
}

/* BORDERS */

section, button {
  border: 2px solid var(--txt);
  border-radius: 8px;
  box-shadow: 4px 4px var(--txt);
}
